@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h2>Add a Doctor</h2>

<h4>Add a Doctor to this poor soul: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.Label("Select a Doctor")
    @Html.DropDownList("DoctorId")

    

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to poor souls", "Index")</p>