@{
  Layout = "_Layout";
}

@using DoctorOffice.Models
@model DoctorOffice.Models.Patient

<h2>Patient Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This patient does not have a doctor</p>
}
else
{
  <h4>Doctors the patient belongs to:</h4>
  <ul>
  @foreach(DoctorPatient join in @Model.JoinEntities)
  {
    <li>@join.Doctor.Name</li>
    @using (Html.BeginForm("DeleteJoin", "Patients"))
    {
      @Html.Hidden("joinId", @join.DoctorPatientId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a Doctor", "AddDoctor", new { id = Model.PatientId })</p>
<p>@Html.ActionLink("Edit Patient", "Edit", new { id = Model.PatientId })</p>
<p>@Html.ActionLink("Delete Patient", "Delete", new { id = Model.PatientId })</p>