@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Doctor

<h2>Edit</h2>

<h4>Edit this Doctor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Specialty)
  @Html.DropDownList("SpecialtyId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>